*{
  margin:0;
  padding:0;
  box-sizing: 0;
}

body{
  font-family: "montseratt", sans-serif;
}

.app{
  background-image: url('./assets/warm.png');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}
.app.cold{
  background-image: url('./assets/cold.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}



.search-box-2 .search-bar-2 {
  width: 200px;
  height: 200px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  border: 3px solid rgb(19, 153, 194);
  transform: rotate(-45deg);
  text-align: center;
  margin-top: 2%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px rgba(0,0,0, 0.2);
  float: right;  
    z-index: 3;
    position: absolute; /*newly added*/
    left: 5px; /*newly added*/
    top: 20px;/*newly added*/
  color: #313131;
}.search-box-2 .search-bar-2:focus{
  background-color: rgba(255, 255, 255, 0.75);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.location-box .location {
  color:white;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px p3x rgba(50, 50 ,70, 0.5);
  
}

.location-box .date {
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50 ,70, 0.5);
}

.weather-box{
  text-align: center;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  
  padding: 15px 25px;
  
  color: white;
  font-size: 102px;
  font-weight: 900;
  text-shadow:  3px 6px rgba(50, 50 ,70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0, 0.2);
}

.weather-box .weather {
  color: white;
  font-size: 700;
  text-shadow: 3px 3px rgba(50, 50 ,70, 0.5);
}

/* day time css for weather */
.dclear {
  height: 10vh;
  width:100px;
  background:rgb(0, 110, 255);
  border-radius:15px 50px 50px;
  background-image: url(http://openweathermap.org/img/wn/01d@2x.png);
}
.dfew{
  height: 10vh;
  width:100px;
  background:rgb(0, 110, 255);
  border-radius:15px 50px 50px;
  background-image: url(http://openweathermap.org/img/wn/02d@2x.png);
}
.dclouds {
  height: 10vh;
  width:100px;
  background:rgb(0, 110, 255);
  border-radius:15px 50px 50px;
  background-image: url(http://openweathermap.org/img/wn/03d@2x.png);
}
.dbroken {
  height: 10vh;
  width:100px;
  background:rgb(0, 110, 255);
  border-radius:15px 50px 50px;
  background-image: url(http://openweathermap.org/img/wn/04d@2x.png);
}
.dshower {
  height: 10vh;
  width:100px;
  background:rgb(0, 110, 255);
  border-radius:15px 50px 50px;
  background-image: url(http://openweathermap.org/img/wn/09d@2x.png);
}
.drain {
  height: 10vh;
  width:100px;
  background:rgb(0, 110, 255);
  border-radius:15px 50px 50px;
  background-image: url(http://openweathermap.org/img/wn/10d@2x.png);
}
.dthunder {
  height: 10vh;
  width:100px;
  background:rgb(0, 110, 255);
  border-radius:15px 50px 50px;
  background-image: url(http://openweathermap.org/img/wn/11d@2x.png);
}
.dsnow {
    height: 10vh;
    width:100px;
    background:rgb(0, 110, 255);
    border-radius:15px 50px 50px;
    background-image: url(http://openweathermap.org/img/wn/09d@2x.png);
}
.dmist{
  height: 10vh;
    width:100px;
    background:rgb(0, 110, 255);
    border-radius:15px 50px 50px;
    background-image: url(http://openweathermap.org/img/wn/50d@2x.png);
}

.invis {
  background-image: url(https://weakwifisolutions.com/wp-content/uploads/2019/08/error-red-cross-7.webp);
}
/* night time css for weather */
.nclear {
  height: 10vh;
  width:100px;
  background:rgb(0, 110, 255);
  align-items: center;
  border-radius:15px 50px 50px;
  background-image: url(http://openweathermap.org/img/wn/01n@2x.png);
}
.nfew{
  height: 10vh;
  width:100px;
  background:rgb(0, 110, 255);
  border-radius:15px 50px 50px;
  background-image: url(http://openweathermap.org/img/wn/02n@2x.png);
}
.nclouds {
  height: 10vh;
  width:100px;
  background:rgb(0, 110, 255);
  border-radius:15px 50px 50px;
  background-image: url(http://openweathermap.org/img/wn/03n@2x.png);
}
.nbroken {
  height: 10vh;
  width:100px;
  background:rgb(0, 110, 255);
  border-radius:15px 50px 50px;
  background-image: url(http://openweathermap.org/img/wn/04n@2x.png);
}
.nshower {
  height: 10vh;
  width:100px;
  background:rgb(0, 110, 255);
  border-radius:15px 50px 50px;
  background-image: url(http://openweathermap.org/img/wn/09n@2x.png);
}
.nrain {
  height: 10vh;
  width:100px;
  background:rgb(0, 110, 255);
  border-radius:15px 50px 50px;
  background-image: url(http://openweathermap.org/img/wn/10n@2x.png);
}
.nthunder {
  height: 10vh;
  width:100px;
  background:rgb(0, 110, 255);
  border-radius:15px 50px 50px;
  background-image: url(http://openweathermap.org/img/wn/11n@2x.png);
}
.nsnow {
    height: 10vh;
    width:100px;
    background:rgb(0, 110, 255);
    border-radius:15px 50px 50px;
    background-image: url(http://openweathermap.org/img/wn/09n@2x.png);
}
.nmist{
  height: 10vh;
    width:100px;
    background:rgb(0, 110, 255);
    border-radius:15px 50px 50px;
    background-image: url(http://openweathermap.org/img/wn/50n@2x.png);
}


